# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hetao\mcex02_aggregation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
